<div class="get-in-touch-wrapper">
  <img class="mask-image" src="assets/images/bg-pattern-call-to-action.svg" />
  <div class="interested-in-project">
    Interested in doing a project together?
  </div>
  <div class="short-presentation-text">
    I may not be available to work on your project
    but I will recommend you the best
    candidate that will help your business grow.
  </div>
  <div class="get-in-touch-btn-wrapper">
    <button class="get-in-touch-btn">GET IN TOUCH</button>
  </div>
</div>
<div class="footer-wrapper">
  <div class="site-name"><a routerLink="{{homeMenu.link}}">M. KAKANAKOU</a></div>
  <div class="line-separator"></div>
  <ul class="menu-wrapper">
    <li class="menu-item">
      <a routerLink="{{homeMenu.link}}" routerLinkActive="active">{{homeMenu.name}}</a>
    </li>
    <li class="menu-item">
      <a routerLink="{{blogMenu.link}}" routerLinkActive="active">{{blogMenu.name}}</a>
    </li>
    <li class="menu-item">
      <a routerLink="{{portfolioMenu.link}}" routerLinkActive="active">{{portfolioMenu.name}}</a>
    </li>
    <li class="menu-item">
      <a routerLink="{{aboutMeMenu.link}}" routerLinkActive="active">{{aboutMeMenu.name}}</a>
    </li>
  </ul>
  <address class="location-information">
    <span class="address-title">Current Address</span><br />
    <span class="address-info">{{personalProfile.street}}, {{personalProfile.city}}</span><br />
    <span class="address-info">{{personalProfile.department}}, {{personalProfile.country}}</span>
  </address>
  <address class="contact-information">
    <span class="address-title">Contact Miguel</span><br />
    <span class="address-info">Tel: {{personalProfile.telephone}}</span><br />
    <span class="address-info">M: <a class="address-info" href="mailto:{{personalProfile.email}}">{{personalProfile.email}}</a></span>
  </address>
  <div class="external-links-wrapper">
    <a href="{{personalProfile.linkedin}}" target="_blank">
      <img class="external-link" src="assets/images/linkedin-icon-svg.svg" />
    </a>
    <a href="{{personalProfile.github}}" target="_blank">
      <img class="external-link" src="assets/images/github-icon.svg" />
    </a>
    <a href="{{personalProfile.leetcode}}" target="_blank">
      <img class="external-link" src="assets/images/LeetCode_logo.svg" />
    </a>
    <a href="{{personalProfile.hackerrank}}" target="_blank">
      <img class="external-link" src="assets/images/hackerrank-logo.svg" />
    </a>
  </div>
</div>
