
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Ibarra+Real+Nova:wght@400;500;600;700&family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500&family=Kumbh+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #F2F2F2;
}
