<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand navbrand-main-text"
       href="#">
      M. KAKANAKOU
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link menu-item-typo" aria-current="page" href="#">{{homeMenu.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-typo" href="#">{{blogMenu.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-typo" href="#">{{portfolioMenu.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-typo" href="#">{{aboutMeMenu.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item-typo" href="#">{{contactMenu.name}}</a>
        </li>
      </ul>
      <hr>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
          <a class="nav-link dropdown-toggle menu-item-typo logged-user-text" href="#" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="profile-picture" src="{{pictureUrl()}}" />
            {{displayName()}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item sub-menu-item-typo" (click)="logout()" href="#">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link menu-item-typo" (click)="login()" aria-current="page" href="#">{{logInMenu.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<login></login>
