<div class="home-wrapper">
  <div class="home-header-wrapper">
    <img class="home-header-img" src="assets/images/homeImg/sample_img2.jpeg" />
    <div class="home-presentation">
      Hi there, I'm Miguel, A <span>Full Stack Developer</span> who loves to turn coffee into code
    </div>
  </div>

  <div class="about-me-wrapper">
    <div class="my-picture">
      <img class="author-picture" src="assets/images/profilImg-768x768.jpg" alt="author picture">
    </div>
    <div class="presentation-wrapper">
      <div class="presentation-header">Who is Miguel?</div>
      <div class="about-me-text">
        <p>
          My name is Miguel Stephane KAKANAKOU. I am a full stack software engineer from Benin.
          I graduated in Software Engineering at ENEAM/UAC in Benin and post-graduated in
          Artificial Intelligence at Taiyuan University of Technology in China.
        </p>
        <p>
          I have 4+ years of experience as a Full Stack Java Software Developer, mainly developing
          highly available and scalable web applications.
          <br />My expertise and interest lies in front-end technologies, including HTML/5, CSS, JavaScript
          (as well as frameworks like Angular and ReactJS).
          <br />My server side skills revolve around Spring (Boot, Cloud, Security) and Hibernate / JPA frameworks,
          JUnit and Mockito for unit tests, Spock for BDD tests, Gradle and Maven for project build
          and automation and Eclipse / IntelliJ IDEA as IDE.
        </p>
        <p>
          I own the <a target="_blank" href="https://www.credly.com/badges/4442b5a4-f3f7-41ad-9513-f9f896200821/public_url">
          OCPJ (Oracle Certified Professional, Java SE 8 Programmer)</a>
          and the <a target="_blank" href="https://www.youracclaim.com/badges/8af43989-b352-49dc-8772-91cc58bb2448/public_url">
          AWS Certified Solutions Architect – Associate certifications</a>.
          I am also certified <strong>SQL</strong> expert with
          the <a target="_blank" href="https://www.credly.com/badges/53ef8fa7-58c5-4c0a-9007-d043435ab9e3/public_url">
          Oracle Database SQL Certified Expert</a> certification.
        </p>
        <p>
          Finally, I am a competitive programmer and I do love algorithm and data structure.
          Are you interested in checking my work? You can visit my portfolio or check my Github account.
        </p>
      </div>
    </div>
  </div>

  <div class="skills-wrapper">
    <div class="presentation-header">My Skills</div>
    <div class="skill-table">
      <table class="table table-dark stack-table">
        <tbody>
        <tr class="round-top-left">
          <td class="round-top-left">
            <div class="round-top-left skill-category">Frontend: </div>
          </td>
          <td class="round-top-right">
            <div class="skill-list-wrapper round-top-right">
              <div class="skill-item">HTML</div>
              <div class="skill-item">CSS</div>
              <div class="skill-item">Javascript</div>
              <div class="skill-item">Typescript</div>
              <div class="skill-item">Angular</div>
              <div class="skill-item">React</div>
              <div class="skill-item">Firebase</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="skill-category">Backend: </div>
          </td>
          <td>
            <div class="skill-list-wrapper">
              <div class="skill-item">Object-Oriented Programming (OOP)</div>
              <div class="skill-item">Design Patterns (GoF)</div>
              <div class="skill-item">Java</div>
              <div class="skill-item">Spring (Core, Boot, Cloud)</div>
              <div class="skill-item">Hibernate & JPA</div>
              <div class="skill-item">REST & SOAP API</div>
              <div class="skill-item">OAuth2 & JWT Security</div>
              <div class="skill-item">Maven</div>
              <div class="skill-item">JUnit & Mockito & PowerMockito</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="skill-category">DevOPS: </div>
          </td>
          <td>
            <div class="skill-list-wrapper">
              <div class="skill-item">Bash</div>
              <div class="skill-item">Docker</div>
              <div class="skill-item">AWS</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="skill-category">Database: </div>
          </td>
          <td>
            <div class="skill-list-wrapper">
              <div class="skill-item">SQL</div>
              <div class="skill-item">MySQL</div>
              <div class="skill-item">Oracle</div>
              <div class="skill-item">MongoDB</div>
              <div class="skill-item">Redis</div>
            </div>
          </td>
        </tr>
        <tr class="round-bottom-left">
          <td class="round-bottom-left">
            <div class="round-bottom-left skill-category">Tools: </div>
          </td>
          <td class="round-bottom-right">
            <div class="skill-list-wrapper round-bottom-right">
              <div class="skill-item">Git & Github</div>
              <div class="skill-item">Jira</div>
              <div class="skill-item">Jenkins</div>
              <div class="skill-item">Confluence</div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
